@import "tailwindcss";

@font-face {
  font-family: 'miriam-bold';
  src: url('assets/fonts/miriamlibre-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/MiriamLibre-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'miriam-regular';
  src: url('assets/fonts/MiriamLibre-Regular.woff2') format('woff2'),
       url('assets/fonts/MiriamLibre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fixture-semibold';
  src: url('assets/fonts/Fixture-CondensedSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  font-family: 'miriam-regular', system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.miriam-regular {
  font-family: 'miriam-regular', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.miriam-bold {
  font-family: 'miriam-bold', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.fixture-semibold {
  font-family: 'fixture-semibold';
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  min-width: 130px;

  @media (width >= 64rem) {
    min-width: 200px;
  }
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.heading {
  font-size: 2.8rem;
  @media (width >= 64rem) {
    font-size: 4.4rem;
    line-height: .9;
  }

  &.mobile {
    margin-top: 40px;
    @media (width >= 64rem) {
      display: none;
    } 
  }

  &.desktop {
    display: none;

    @media (width >= 64rem) {
      display: block;
      margin-top: 110px;
    }
  }
}

.logo {
  width: 300px;
}

.container-wrapper {
  @media (width >= 64rem) {
    display: flex;
    justify-content: center;
  }

  hr {
    width: 50px;
  }
}

.content-wrapper {
  margin-left: 110px;

  @media (min-width: 1024px) {
    margin-left: 150px;
    min-height: 400px;
  }
}

.content-wrapper--title, .content-wrapper--stats {
  @media (width >= 64rem) {
    font-size: 1.2rem; 
  }
}

.content-wrapper--description {
  @media (width >= 64rem) {
    font-size: .8rem;
  }
}

.content-wrapper--desktop-label {
  display: none;

  @media (width >= 64rem) {
    display: flex;
  }
}

.content-wrapper--mobile-label {
  display: flex;

  @media (width >= 64rem) {
    display: none;
  }
}

input {
  width: 100%;
}

.label {
  font-family: 'miriam-bold', system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-width: 123px;
}

input[type="number"] {
  @media (width >= 64rem) {
    width: 195px;
  }
}

select option {
  border-radius: 0;
  color: #000;
}

.label-col {
  @media (width >= 64rem) {   
    margin-left: 50px;
  }
}

#animation-wrapper, #mAnimationContainer, #cAnimationContainer, #aAnimationContainer {
  width: 260px;
  height: 260px;

  @media (width >= 64rem) {
    width: 400px;
    height: 400px;
  }
}

#animation-wrapper { 
  @media (width >= 70rem) {
    margin-left: -50px;
  }
}

.content-wrapper--description {
  word-wrap: break-word;
}

.content-warning {
  background-color: #f6c643;
}

.content-warning--btn {
  font-size: 30px;
  margin-top: -20px;  
  cursor: pointer;
}

.break {
  display: none;

  @media (width >= 70rem) {
    display: block;
  }
}