@import "tailwindcss";

@font-face {
  font-family: 'miriam-bold';
  src: url('assets/fonts/miriamlibre-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/MiriamLibre-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'miriam-regular';
  src: url('assets/fonts/MiriamLibre-Regular.woff2') format('woff2'),
       url('assets/fonts/MiriamLibre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fixture-semibold';
  src: url('assets/fonts/Fixture-CondensedSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  font-family: 'miriam-regular', system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.miriam-bold {
  font-family: 'miriam-bold', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.fixture-semibold {
  font-family: 'fixture-semibold';
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  min-width: 200px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.heading {
  @media (min-width: 1440px) {
    font-size: 4.4rem;
  }
}

.logo {
  width: 300px;
}

.container-wrapper {
  @media (min-width: 1024px) {
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 150px;
  }
}

.content-wrapper {
  @media (min-width: 1024px) {
    margin-left: 200px;
    min-height: 310px;
  }
}

input {
  width: 100%;
}

.label {
  font-family: 'miriam-bold', system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-width: 123px;
}

input[type="number"] {
  width: 195px;
}

.label-col {
  @media (min-width: 1024px) {
    margin-left: 50px;
  }
}
